<h2>Edit Dictionary</h2>

<%= render "form.html", Map.put(assigns, :action, admin_dictionary_path(@conn, :update, @dictionary)) %>

<span><%= link "Back", to: admin_dictionary_path(@conn, :index) %></span>
