<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :username, class: "control-label" %>
    <%= text_input f, :username, class: "form-control" %>
    <%= error_tag f, :username %>
  </div>

  <div class="form-group">
    <%= label f, :password_hash, class: "control-label" %>
    <%= text_input f, :password_hash, class: "form-control" %>
    <%= error_tag f, :password_hash %>
  </div>

  <div class="form-group">
    <%= label f, :last_login_at, class: "control-label" %>
    <%= datetime_select f, :last_login_at, class: "form-control" %>
    <%= error_tag f, :last_login_at %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
