<h2>Show Dictionary</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @dictionary.name %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @dictionary.username %>
  </li>

  <li>
    <strong>Password hash:</strong>
    <%= @dictionary.password_hash %>
  </li>

  <li>
    <strong>Last login at:</strong>
    <%= @dictionary.last_login_at %>
  </li>

</ul>

<span><%= link "Edit", to: admin_dictionary_path(@conn, :edit, @dictionary) %></span>
<span><%= link "Back", to: admin_dictionary_path(@conn, :index) %></span>
