<h2>Listing Staffs</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Last login at</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for staff <- @staffs do %>
    <tr>
      <td><%= staff.name %></td>
      <td><%= staff.username %></td>
      <td><%= staff.last_login_at %></td>

      <td class="text-right">
        <span><%= link "Show", to: admin_staff_path(@conn, :show, staff), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: admin_staff_path(@conn, :edit, staff), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: admin_staff_path(@conn, :delete, staff), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Staff", to: admin_staff_path(@conn, :new) %></span>
