<h2>Show Staff</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @staff.name %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @staff.username %>
  </li>

  <li>
    <strong>Last login at:</strong>
    <%= @staff.last_login_at %>
  </li>

</ul>

<span><%= link "Edit", to: admin_staff_path(@conn, :edit, @staff) %></span>
<span><%= link "Back", to: admin_staff_path(@conn, :index) %></span>
