<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BotEvolutionTactics Admin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render BotEvolutionTacticsWeb.LayoutView, "nav.html", conn: @conn %>

    <div class="container-fluid">
      <div class="row">
        <%= render BotEvolutionTacticsWeb.LayoutView, "sidebar.html", conn: @conn %>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= render @view_module, @view_template, assigns %>
        </div>

      </div> <!-- /row -->

    </div> <!-- /container-fluid -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
