<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BotEvolutionTactics</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><%= render_login_or_logout(@conn) %></li>
      </ul>
    </div>

  </div> <!-- /container-fluid -->
</nav>


