<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><%= link "Home", to: admin_root_path(@conn, :index) %></li>
    <li><%= link "Staff", to: admin_staff_path(@conn, :index) %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><%= link "Bot", to: admin_bot_path(@conn, :index) %></li>
    <li><%= link "Dictionary", to: admin_dictionary_path(@conn, :index) %></li>
  </ul>
</div>
