<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :platform, class: "control-label" %>
    <%= text_input f, :platform, class: "form-control" %>
    <%= error_tag f, :platform %>
  </div>

  <div class="form-group">
    <%= label f, :access_token, class: "control-label" %>
    <%= text_input f, :access_token, class: "form-control" %>
    <%= error_tag f, :access_token %>
  </div>

  <div class="form-group">
    <%= label f, "Account ID", class: "control-label" %>
    <%= text_input f, :account_id, class: "form-control" %>
    <%= error_tag f, :account_id %>
  </div>

  <div class="form-group">
    <%= label f, :secret_key, class: "control-label" %>
    <%= text_input f, :secret_key, class: "form-control" %>
    <%= error_tag f, :secret_key %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
