<h2>Listing Bots</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Platform</th>
      <th>Secret key</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for bot <- @bots do %>
    <tr>
      <td><%= bot.id %></td>
      <td><%= bot.name %></td>
      <td><%= bot.platform %></td>
      <td>************</td>

      <td class="text-right">
        <span><%= link "Show", to: admin_bot_path(@conn, :show, bot), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: admin_bot_path(@conn, :edit, bot), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: admin_bot_path(@conn, :delete, bot), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Bot", to: admin_bot_path(@conn, :new) %></span>
