<h2>Show Bot</h2>

<ul>
  <li>
    <strong>ID:</strong>
    <%= @bot.id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @bot.name %>
  </li>

  <li>
    <strong>Platform:</strong>
    <%= @bot.platform %>
  </li>

  <li>
    <strong>Access token:</strong>
    <%= @bot.access_token %>
  </li>

  <li>
    <strong>Account ID:</strong>
    <%= @bot.account_id %>
  </li>

  <li>
    <strong>Secret key:</strong>
    <%= @bot.secret_key %>
  </li>

</ul>

<span><%= link "Edit", to: admin_bot_path(@conn, :edit, @bot) %></span>
<span><%= link "Back", to: admin_bot_path(@conn, :index) %></span>
