<div class="jumbotron">
  <h2><%= gettext "Login page" %></h2>
  <p class="lead">It is only allowed for privilege user.</p>
</div>

<%= form_tag session_path(@conn, :create) do %>
  <label for="username">Username</label>
  <input type="text" id="username" name="username">

  <p>

  <label for="password">Password</label>
  <input type="password" id="password" name="password">

  <p>

  <input type="submit" name="Submit">

<% end %>
